<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sinky.Properties.Settings.testeConnectionString" connectionString="server=localhost;user id=root;database=teste"
            providerName="MySql.Data.MySqlClient" />
        <add name="Sinky.Properties.Settings.BD" connectionString="server=localhost;user id=root;persistsecurityinfo=False;database=teste"
            providerName="MySql.Data.MySqlClient" />
        <add name="Sinky.Properties.Settings.teseConnectionString" connectionString="Data Source=localhost;Initial Catalog=tese;User ID=sa;Password=labfiap#2019$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>